{% if customer %}

{% if template contains "product" %}<div id="ZlistWishlist" data-product-id="{{product.id}}" data-handle = "{{product.handle}}" 
              
        data-image="{{product.featured_image | img_url: "360x"}}"  data-variantname="{{product.selected_or_first_available_variant.title}}" data-title="{{product.title}}" data-variant="{{product.selected_or_first_available_variant.id}}" data-price="{{product.selected_or_first_available_variant.price | remove: "." | remove: "," | divided_by: 100.0 }}"></div>
<script  src="https://zooomyapps.com/wishlist/ListWishlistProduct.js" data-product-id="{{product.id}}" data-shop-id="{{shop.permanent_domain}}" data-customer-id="{{customer.id}}" ></script>
     {% endif %}

  {% else %}
<div data-shopify="payment-button" data-has-selling-plan="false" data-has-fixed-selling-plan="false" class="shopify-payment-button">
  <div>
    <div>
      <div>
        <div class="shopify-cleanslate">
          <div id="shopify-svg-symbols" class="R9tDu8JrE_i1ctOEo0v_" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" focusable="false">
            </svg>
          </div>
        </div>
        <button disabled="" type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded BUz42FHpSPncCPJ4Pr_f jjzYeefyWpPZLH9pIgyw RWJ0IfBjxIhflh4AIrUw LVeInvZ5HcNOW1Zsn7NH" data-testid="Checkout-button">Buy it now
        </button>
        <button aria-disabled="true" aria-hidden="true" disabled="" class="shopify-payment-button__more-options BUz42FHpSPncCPJ4Pr_f shopify-payment-button__button--hidden" type="button" data-testid="sheet-open-button">More payment options
        </button>
        <div>
          <div>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endif %}